body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.mainHeader {
    background-color: #302C2C;
    height: 6%;
    min-height: 6vh;
    padding: 15px 0;
    color: #EB3135;
    font-size: 1.5em;
    display: flex;
    
}
/* .mainHeader h1 {
    padding-right: 25px;
}
.mainHeader h2 {
    padding-right: 25px;
} */
.menu a {
    padding: 0 25px;
}
.mainHeader h1 a {
    font-size: 1em;
}
.mainHeader h1 a {
    font-size: 1em;
}
.mainHeader a {
    font-size: .75em;
    color: #EB3135;
    transition: all 0.1s ease;
    text-decoration: none;
}
.mainHeader a:hover {
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;

    margin-left: 9%;
    align-items: center;
}

body {
    background-color: rgba(19, 22, 88, .09);
}

main {
    display: flex;
    justify-content: center;
}
.title_container {
    background-color: #fff;
    width: 90vw;
    margin-top: 2.5vw;
    padding: 50px;
    margin-bottom: 2.5vw;
}

.title_container h2 {
    font-size: 1.5em;
    margin-bottom: 50px;
}

.list {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.cover {
    width: 250px;

}
.cover_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cover img {
    width: 250px;
}

.cover h2 {
    font-size: 1.25em;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .menu h1 {
        display: none;
    }
    
    body {
        font-size: 16px;
    }
    .mainHeader {
        justify-content: center;
    }
    .menu {
        margin-left: 0;
    }
    .big_container {
        flex-direction: column;
        align-items: center;
    }
    .popularAnime h2 {
        margin: 0;
    }
    .popularAnime {
        text-align: center;
    }
    .newsBigContainer {
        flex-direction: column;
    }
    .inner_container {
        margin-bottom: 25px;
    }
    .news {
        text-align: center;
    }
    .news h2 {
        margin: 0;
    }
}