body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.mainHeader {
    background-color: #302C2C;
    height: 6vh;
    color: #EB3135;
    font-size: 1.5em;
    display: flex;
    
}

.mainHeader h1 a {
    font-size: 1em;
}

.mainHeader a {
    font-size: .75em;
    color: #EB3135;
    transition: all 0.1s ease;
    text-decoration: none;
}

.mainHeader a:hover {
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    margin-left: 10%;
    align-items: center;
}

body {
    background-color: rgba(19, 22, 88, .09);
}

main {
    display: flex;
    justify-content: center;
}
.title_container {
    background-color: #fff;
    width: 60vw;
    margin-top: 2.5vw;
    padding: 50px;
    margin-bottom: 2.5vw;
}

header {
    display: flex;
}

.cover img {
    width: 400px;
}

.information {
    padding-left: 50px;
    width: 100%;
}

.information h2 {
    font-size: 2em;
    padding-bottom: 25px;
    font-weight: bold;
}

.information table {
    padding: 50px;
    width: 100%;
    margin-bottom: 25px;
}
.information td {
    padding: 5px 0px;
    line-height: 150%;
}

.information td:first-child {
    color: rgb(131, 131, 131);
    min-width: 250px;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 25px;
}
.information .description {
    line-height: 200%;
    text-align: justify;
}

.screenshots {
    margin-top: 2.5vh;
}
.screenshots_container {
    display: flex;
    justify-content: space-between;
}
.screenshots img {
    width: 32%;
    padding-right: 5px;
}

.screenshots h2 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

i {
    display: none;
}

input[type=button] {
    background-color: #EE4F4F;
    color: #fff;
    font-size: 1.25em;
    margin-top: 25px;
    min-width: 100%;
    min-height: 68px;
    border: none;
    border-radius: 0;
}

input[type=button]:hover {
    background-color: #e44c4c;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.25em;
    border: none;
}